@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
<link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
<style>
img{
    border: 10px solid black;
}
    body {
        font-family: 'Cinzel Decorative';
        font-size: 22px;
    }
</style>
</head>
<body style="background-color:pink;padding:10px;">

<h1 style="text-align:center">You Have Been Formally Invited!</h1>
<center><img src="images/cherub.jpg" alt="Cherubs" width="600" height="350"></center>
<div>
    <center><a asp-action="RsvpForm">RSVP Now</a></center>
</div>
</body>
</html>
